
html, body {
    margin: 0;
    padding: 0;
}


header {
    background-color: blue;
}

#Kia {
    display:block
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#infoh2 {
    background-color: aquamarine;
    color: red;
}

#explanation {
    background-color: orange;
    color: black;
}